.navBar {
    background-color: blue;
}

.navHeader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: white;

    padding: 2rem;
    margin: 0;
}